* {
	box-sizing: border-box;
}

body {
	background-color: #323975;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	max-width: 100%;
	max-height: 90vh;
	font-size: xx-large;
	padding-bottom: 5px;
}
.container{
	max-height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}
.countdown{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.countdown--title{
	margin-top: 50px;
}
.countdown-container {
	margin-top: 50px;
	display: flex;
	justify-content: center;	
	align-items: center;

}
.pictures{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pictures--inner{
	display: flex;
	justify-content: space-around;
}
.christmastree, .snowman{
	max-width: 280px;
	max-height: 330px;
}


.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(100vh);
	}
}



.time {
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
	margin: 0 15px;
}

.time h1 {
	margin-bottom: 0;
}

.time small {
	color: #ccc;
}